

{% extends "login/_layout.html.twig" %}

{% block title %}S'inscrire{% endblock %}

{% block content %}

    {{ form_start(registerForm, {'attr' : {'novalidate' : 'novalidate'}}) }}

        <h1 class="font-bold text-xl">
            S'inscrire
        </h1>

        {{ form_errors(registerForm) }}
        
        <div class="mt-8 text-sm">

            <div class="mb-2">
                {{ form_label(registerForm.email) }}
                <span class="text-red-500 mt-2">{{ form_errors(registerForm.email) }}</span>
                {{ form_widget(registerForm.email, {'attr': {'class': 'px-4 py-2 w-full rounded-full mt-2 bg-blue-50'}}) }}
            </div>

            <div 
                class="mt-6"
                {# {{ stimulus_controller('password-validation') }} #}
            >
                {{ form_label(registerForm.plainPassword) }}
                <span class="text-red-500 mt-2">{{ form_errors(registerForm.plainPassword) }}</span>
       
                <div data-controller="password-visibility" class="relative flex items-center">
                    {{ form_widget(registerForm.plainPassword, {'id': 'psw', 'attr': {'class': 'px-4 py-2 w-full rounded-full mt-2 bg-blue-50'}}) }}
                    {# {{ include('partials/_button_visibility_pwd.html.twig') }} #}
                </div>

                {# <div id="message" class="flex flex-col gap-1">
                    <label class="text-sm">Le mot de passe doit contenir:</label>
                    <div id="letter" class="invalid-password text-xs pl-6 flex items-center">Une lettre minuscule</div>
                    <div id="capital" class="invalid-password text-xs pl-6 flex items-center">Une lettre majuscule</div>
                    <div id="number" class="invalid-password text-xs pl-6 flex items-center">Un nombre</div>
                    <div id="length" class="invalid-password text-xs pl-6 flex items-center">8 caractères minimums</div>
                </div> #}

            </div>

        </div>

        <div class="flex flex-col mt-6 text-sm">
            <span class="text-red-500">{{ form_errors(registerForm.terms) }}</span>
            <div class="flex flex-row gap-1">
                <div>
                    {{ form_widget(registerForm.terms) }}
                </div>
                <div class="mt-1">
                    {{ form_label(registerForm.terms) }}
                </div>
            </div>
        </div>

        <button type="submit" class="mt-6 bg-pink-950 text-white uppercase px-4 py-2 rounded-full w-full cursor-pointer">Valider</button>

        <p class="mt-2 text-sm">
            Vous avez déja un compte? <a href={{ path('app_login') }} class="text-sky-800">Identifiez-vous</a>
        </p>

    {{ form_end(registerForm) }}

{% endblock %}