{% extends "login/_layout.html.twig" %}

{% block title %}S'inscrire{% endblock %}

{% block content %}

    {{ form_start(registerForm, {'attr' : {'novalidate' : 'novalidate'}}) }}

        {{ form_errors(registerForm) }}

        <h1 class="font-bold text-xl">
            S'inscrire
        </h1>
        <div class="mt-2 text-gray-500 text-sm">
            {# A few more clicks to sign in to your account! #}
            Encore quelques clics pour vous connecter à votre compte !
        </div>
        
        <div class="mt-8 form-group text-sm">

            <div class="mb-2">
                {{ form_label(registerForm.email) }}
                <span class="text-red-500">{{ form_errors(registerForm.email) }}</span>
                {{ form_widget(registerForm.email) }}
            </div>

            {# <div class="mb-2">
                {{ form_label(registerForm.username) }}
                <span class="text-red-500">{{ form_errors(registerForm.username) }}</span>
                {{ form_widget(registerForm.username) }}
            </div> #}


            <div 
                class="mt-6"
                {# {{ stimulus_controller('password-validation') }} #}
            >
                {{ form_label(registerForm.plainPassword) }}
                <span class="text-red-500">{{ form_errors(registerForm.plainPassword) }}</span>
       
                <div data-controller="password-visibility" class="relative flex items-center">
                    {{ form_widget(registerForm.plainPassword, {'id': 'psw'}) }}
                    {# {{ include('partials/_button_visibility_pwd.html.twig') }} #}
                </div>

                {# <div id="message" class="flex flex-col gap-1">
                    <label class="text-sm">Le mot de passe doit contenir:</label>
                    <div id="letter" class="invalid-password text-xs pl-6 flex items-center">Une lettre minuscule</div>
                    <div id="capital" class="invalid-password text-xs pl-6 flex items-center">Une lettre majuscule</div>
                    <div id="number" class="invalid-password text-xs pl-6 flex items-center">Un nombre</div>
                    <div id="length" class="invalid-password text-xs pl-6 flex items-center">8 caractères minimums</div>
                </div> #}

            </div>

        </div>

        <div class="flex flex-col mt-6 text-sm">
            <span class="text-red-500">{{ form_errors(registerForm.terms) }}</span>
            <div class="flex flex-row gap-1">
                <div>
                    {{ form_widget(registerForm.terms) }}
                </div>
                <div class="mt-1">
                    {{ form_label(registerForm.terms) }}
                </div>
            </div>
        </div>

        <div class="button-group text-center mt-4">
            <button type="submit" class="bg-light-blue text-white w-full font-bold p-2 text-base cursor-pointer rounded-lg">Valider</button>
            {# <div class="mt-5">Déja inscrit? <br><a href="{{ path('app_login') }}" class="text-light-blue text-sm">Identifiez-vous</a></div> #}
        </div>

    {{ form_end(registerForm) }}

{% endblock %}